<h1>シフトを確認・登録</h1>

<%= month_calendar events: @shifts do |date, shifts| %>
  <%= date %>

  <% shifts.each do |shift| %>
    <div>
      <%= shift.user.name %>
    </div>
  <% end %>

<% shifts.each do |shift| %>
    <div>
      <%= link_to "#{shift.shift_time.start_time}-#{shift.shift_time.end_time}", shift_path(shift), id: "#{shift.shift_time_id}", date: "#{shift.start_time}" %>
    </div>
  <% end %>

<% end %>

<% if current_user %>
  <%= link_to 'ログアウト', new_user_registration_path %>
<% end %>
