
<h2>シフトを確認・登録</h2>

<div class='calender_wrapper'>
  <%= month_calendar events: @shifts do |date, shifts| %>
    <%= link_to new_shift_path(date: date), class: "date_link" do %>
      <p><%= date.strftime("%d") %></p>

      <% shifts.each do |shift| %>
        <% if shift.user == current_user %>
          <div class='myshift'>
            <%= shift.user.name %>
          </div>
        <% else %>
          <div>
            <%= shift.user.name %>
          </div>
        <% end %>

        <!-- <p><%= "#{shift.shift_time.start_time}-#{shift.shift_time.end_time}" %></p> -->

        <%#= link_to "#{shift.shift_time.start_time}-#{shift.shift_time.end_time}", shift_path(shift), id: "#{shift.shift_time_id}", date: "#{shift.shift_time.start_time}-#{shift.shift_time.end_time}" %>
      <% end %>
    <% end %>
  <% end %>
</div>
